<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weidi.mirrorcast">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->

    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->

    <uses-permission android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/multiple_devices"
        android:label="@string/app_name"
        android:roundIcon="@drawable/multiple_devices"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode|keyboard|keyboardHidden|screenSize|orientation|fontScale"
            android:launchMode="singleTask"
            android:enabled="true"
            android:exported="true"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.APP_GALLERY" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.weidi.mirrorcast.PlayerActivity"
            android:configChanges="uiMode|keyboard|keyboardHidden|screenSize|orientation|fontScale"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        </activity>

        <service
            android:name=".MediaServerService"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name=".MediaClientService"
            android:enabled="true"
            android:exported="true"/>

        <receiver android:name=".WiFiDirectBroadcastReceiver"/>
    </application>

</manifest>